# TypeScript / React
*.ts linguist-detectable=true
*.tsx linguist-detectable=true

# JavaScript
*.js linguist-detectable=true
*.jsx linguist-detectable=true

# Ignore CSS dominance
*.css linguist-detectable=true
